<%- include('partials/head.ejs') %>

    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div id="main">
            <div id="not-found">
                <h2>404</h2>
                <h3>Oops! It seems this page is either missing<br>or it never existed!</h3>
                <a href="/">&larr; Go home!</a>
            </div>
        </div>
<%- include('partials/footer.ejs') %>