* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}